main {
  height: auto;
}
#docs-container {
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  #docs-container {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  #docs-container {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  #docs-container {
    width: 95%;
  }
}

